.imgProdutoBg {
  border-radius: 99999px !important;
  background-color: #8290cd !important;
  padding: 10px !important;
}

#addAnexo {
  display: none !important;
}
#anexoLabel {
  color: white !important;
}
a  {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  align-self: center !important;
  border: 1px !important;
  border-color: black !important;
}
.panel-body{
  border-color: black !important;
}
.displayNone {
  display: none !important;
}
.documentoClass {
  margin-bottom: 5px !important;
}